<h2>Edit Song</h2>

<%= form_for [@artist, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :album %>
  <%= f.text_field :album %>

  <%= f.label :preview_url %>
  <%= f.text_field :preview_url %>

  <%= f.submit %>
<% end %>

<%= form_for [@artist, @song], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
